<%- include('partials/header')%>

<h1>Home</h1>
<p><%= CONTENT %></p>
<%POSTARRAY.forEach(function(POST){%>
  <h3><%=POST.title%></h3>
  <p><%=POST.content.substring(0,3)%>...<a href="/posts/<%= POST._id %>">Read More</a></p>
<%})%>
<%- include('partials/footer')%>
